/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Neology';
    src: url('assets/fonts/neology_deco_w03_bold-webfont.woff2') format('woff2'),
         url('assets/fonts/neology_deco_w03_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.sidebar-icon{
    color: #393E47;
}


.g-recaptcha {
    width: 100%;
    margin:auto;
    transform: scale(0.77);
    -webkit-transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
 }
